html {
    height: 100%;
}

blockquote {
    border: 2px solid white;
    padding: 0 1em;
    font-family: var(--space-font);
    font-size: 18px;
    @media(max-width: 600px) {
        font-size: 16px;
    }
}

a:hover {
    background-color: white !important;
    color: #1e1e1e !important;
}

a {
    color: white !important;
}

body {
    background-color: #1e1e1e;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: lightgrey;
    font-size: 20px;

    @media(max-width:600px) {
        font-size: 18px;
    }
}